.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.single {
    column-width: fit-content;
    column-count: 1;

}

.double {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}